# Quick View to Association Rule Mining Using Apriori & FP-Growth Tree

### What is Association Rule Mining?

#### An associaton rule mining  can also be called as Frequent Pattern Mining. The aim of association rule mining is to discover the inherent regularities in the data

In [3]:
#importing necessary libraries
import pandas as pd
import numpy as np
import mlxtend
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import fpgrowth

In [4]:
#reading the data using pandas read csv command
df = pd.read_csv("../Excel/lastfm.csv")

In [5]:
df_ = df[["user", "artist"]]

In [8]:
#converting our data into the list because the algorithm uses the list
records = []

for i in df_["user"].unique():
    records.append(list(df_[df_["user"] == i]["artist"].values))

In [9]:
# mlxtend has its own function to convert the data into True or False type of encoding. 
# It is similar to one hot encoding in sklearn preprocessing
TE = TransactionEncoder()

In [10]:
#fitting and transforming the data 
te_array = TE.fit(records).transform(records)

In [11]:
#converting the data into dataframe
te_df = pd.DataFrame(te_array, columns = TE.columns_)

In [13]:
te_df.head(5)

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wilco,within temptation,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

##  Apriori Algorithm 

#### Apriori is an algorithm for frequent item set mining and association rule learning over relational databases. It proceeds by identifying the frequent individual items in the database and extending them to larger and larger item sets as long as those item sets appear sufficiently often in the database.

In [14]:
# to work with apriori algorithm we need to set some minimum support threshold
# to determine the min threshold, purely depends upon the domain knowledge
frequent_items = apriori(te_df, min_support = 0.02, use_colnames = True)

In [15]:
frequent_items

      support                           itemsets
0    0.022733                             (2pac)
1    0.030933                     (3 doors down)
2    0.032800               (30 seconds to mars)
3    0.021800                          (50 cent)
4    0.036867                        ([unknown])
..        ...                                ...
397  0.023400           (the doors, the beatles)
398  0.023467         (the killers, the beatles)
399  0.030467  (the rolling stones, the beatles)
400  0.025467   (the white stripes, the beatles)
401  0.021733                  (u2, the beatles)

[402 rows x 2 columns]

In [16]:
association_rule = association_rules(frequent_items, min_threshold = 0.02, metric = "support")

In [22]:
association_rule

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ac/dc),(metallica),0.061400,0.111333,0.022067,0.359392,3.228072,0.015231,1.387224
1,(metallica),(ac/dc),0.111333,0.061400,0.022067,0.198204,3.228072,0.015231,1.170621
2,(radiohead),(air),0.180267,0.069600,0.029000,0.160873,2.311391,0.016453,1.108771
3,(air),(radiohead),0.069600,0.180267,0.029000,0.416667,2.311391,0.016453,1.405257
4,(arcade fire),(radiohead),0.047600,0.180267,0.022467,0.471989,2.618281,0.013886,1.552492
...,...,...,...,...,...,...,...,...,...
227,(the beatles),(the rolling stones),0.177867,0.062933,0.030467,0.171289,2.721759,0.019273,1.130753
228,(the white stripes),(the beatles),0.069200,0.177867,0.025467,0.368015,2.069052,0.013158,1.300876
229,(the beatles),(the white stripes),0.177867,0.069200,0.025467,0.143178,2.069052,0.013158,1.086341
230,(u2),(the beatles),0.068000,0.177867,0.021733,0.319608,1.796896,0.009638,1.208323
231,(the beatles),(u2),0.177867,0.068000,0.021733,0.122189,1.796896,0.009638,1.061732

In [17]:
# writing the file into csv
association_rule.to_csv("association_rule.csv")

## FP-Growth Algorithm

#### The FP-Growth Algorithm, proposed by Han, is an efficient and scalable method for mining the complete set of frequent patterns by pattern fragment growth, using an extended prefix-tree structure for storing compressed and crucial information about frequent patterns named frequent-pattern tree (FP-tree)

In [18]:
fp_rule = fpgrowth(te_df, min_support = 0.01, use_colnames = True)

In [19]:
fp_rule

       support                            itemsets
0     0.119067             (red hot chili peppers)
1     0.098200                       (the killers)
2     0.062933                (the rolling stones)
3     0.056333                      (jack johnson)
4     0.034800                           (the who)
...        ...                                 ...
1684  0.010800    (my chemical romance, green day)
1685  0.011400  (the killers, my chemical romance)
1686  0.013200  (linkin park, my chemical romance)
1687  0.012533              (jason mraz, coldplay)
1688  0.011667             (james blunt, coldplay)

[1689 rows x 2 columns]

In [20]:
association_rule_ = association_rules(fp_rule, min_threshold = 0.01, metric = "support")

In [23]:
association_rule_

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(red hot chili peppers),(coldplay),0.119067,0.158533,0.038600,0.324188,2.044921,0.019724,1.245120
1,(coldplay),(red hot chili peppers),0.158533,0.119067,0.038600,0.243482,2.044921,0.019724,1.164458
2,(red hot chili peppers),(radiohead),0.119067,0.180267,0.031600,0.265398,1.472250,0.010136,1.115887
3,(radiohead),(red hot chili peppers),0.180267,0.119067,0.031600,0.175296,1.472250,0.010136,1.068181
4,(red hot chili peppers),(the beatles),0.119067,0.177867,0.033867,0.284434,1.599144,0.012689,1.148928
...,...,...,...,...,...,...,...,...,...
2351,(my chemical romance),(linkin park),0.042000,0.098200,0.013200,0.314286,3.200466,0.009076,1.315125
2352,(jason mraz),(coldplay),0.028533,0.158533,0.012533,0.439252,2.770725,0.008010,1.500616
2353,(coldplay),(jason mraz),0.158533,0.028533,0.012533,0.079058,2.770725,0.008010,1.054862
2354,(james blunt),(coldplay),0.025200,0.158533,0.011667,0.462963,2.920288,0.007672,1.566869
2355,(coldplay),(james blunt),0.158533,0.025200,0.011667,0.073591,2.920288,0.007672,1.052235

In [122]:
# writing the file into csv
association_rule_.to_csv("fp_association_rule.csv")

Note: The FP-Growth Algorithm is much more faster & efficient than the Apriori Algorithm. The reason behind this is under FP-Growth the algorithm need to scan the database only twice while under the Apriori Algorithm, this scans the data at each iteration.

To clear more, the apriori algorithm is a classic learning algorithm where it used the hash tree like structure. When it comes to the FP-Grwoth Algorithm, it uses the FP Grwoth which is much faster than the classic apriori algorithm.